extends layout

append head
  title culturegraphic design studio
  meta(name="description", content="Hi, I&rsquo;m Nate. I lead teams that design products and brands for real-world impact.")

block content
  header
    section
      div.content
        h1 Nate Kerksick
        h2 Product Designer
  section
    div.content
      p I lead teams that design digital products in order to improve our real world lives. Today I’m helping Dropbox go from a file sync company to one that helps teams stay in sync—we’re building better ways to help people collaborate at work. Before that, I grew the Social Impact design team at Facebook across 5 product teams. I was the founding designer at Change.org where I also built a talented team, and grew a global platform that would see a campaign victory every hour. Created Obama’s 2008 online ads in Chicago, ran a product & brand studio in Brooklyn, and art directed with Ogilvy Paris. Raised in Milwaukee and indoctrinated into doing meaningful work by parents who met working for Cesar Chavez. Lived in eight cities across four countries and today I live in San Francisco. Degree in Interactive Art Direction from Hyper Island in Sweden and teach Civic Design at California College for the Arts.
      //- hr
      h3 Experience
      table.work
        each row, index in workExperience
          include includes/work-position
